/* THE CAROUSEL
-------------------------------------------------- */
.carousel {
  margin-top: 50px;
  height: 250px;
  margin-bottom: 15px;
  overflow: hidden;
}

.carousel .item {
  height: 250px;
  height: 100%;
  background-color: #777;
  overflow: hidden;
}

.carousel-caption {
  z-index: 10;
}

.carousel-caption.overlay {
  height: auto;

  margin-bottom: 35px;
  padding-bottom: 20px;

  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);

  border-radius: 4px;

  overflow: hidden;
}

.carousel-caption h1 {
  font-size:30px;
  letter-spacing: -1px;
  margin: 0px 0px 0px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width:100%;
  min-height:100%;
}

/* Highlights
-------------------------------------------------- */
.highlight {
  text-align: center;

  padding: 0 45px;
}

.highlight > div {
  position: relative;
  height: 110px;

  overflow: hidden;
}

.highlight > div > a {
  position: absolute;
  max-height: 100px;
  bottom: 0px;
  width: 60%;
  left: 20%;

  text-align: center;
}

.highlight > div > a > img {
  width: 60%;
}

.highlight p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Marketing Content
-------------------------------------------------- */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.marketing h2 {
  font-weight: normal;
}

/* Event Customization
-------------------------------------------------- */
.eventcell {
  margin: 50px 0px 0px 0px;
}

.newscell {
  margin: 0px 0px 50px 0px;
}

.events {
  padding: 15px 15px 15px;
  border-radius: 6px;
}

.events .event h6 {
  line-height: .5;
}

.calendar {
  margin-top: 15px;
}

#calframe {
  border-width: 0;
  height: 256px;
  width: 100%;
  overflow: hidden;
}

/* Responsive CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .carousel {
    margin-bottom: 60px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .highlight > div > a > img {
    width: 100%;
  }

  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  #calframe {
    margin: 25px 0 0 0;
    height: 512px;
  }
}
