/* Event Customization
-------------------------------------------------- */
.events {
  background-color: #f1f1f1;
  padding: 15px 15px 15px;
  border-radius: 6px;
}

.events .event h6 {
  line-height: .5;
}

.calendar {
  margin-top: 15px;
}

#calframe {
  border-width: 0;
  height: 256px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px){
  #calframe {
    height: 512px;
  }
}

/* News Customization
-------------------------------------------------- */
.newslist {
  background-color:#f1f1f1;
  border-radius: 4px;
  padding: 15px 0px 15px 0px;
}

.newslist > .nav > li > a {
  color: #777;
  padding: 5px 15px 5px 15px;
}

.newsmonthlist > li > a {
  color: #777;
  font-weight: 200;
  padding: 0px 15px 5px 30px;
}

.newslist .nav > .active > a
{
  font-weight: bold;
  color: #555;
}

.newstable {
  border-width: 0;
}

#newsframe {
  border-width: 0;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}
