<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Clinton County Rotary</title>

        <!-- Bootstrap core CSS -->
        <link href="../../assets/core/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../../assets/css/main.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <!-- NAVBAR ================================================== -->
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top rotarynav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../../"><img src="../../assets/images/RotaryMoE_PMS-C.png" height="18px"/>&nbsp;Clinton County Rotary</a>
                </div>
                <div class="navbar-collapse collapse" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li><a href="../../">Home</a></li>
                        <li class="active"><a href="../../news/">Newsletters</a></li>
                        <li><a href="../../about/">About Us</a></li>
                    </ul>

                    <a class="pull-right fbicon" href="http://www.facebook.com/pages/Rotary-Club-of-Downtown-Lock-Haven/170567572986406"><img src="../../assets/images/fb_icon.png" height="30px" title="Find us on Facebook!" alt="Facebook"></a>
                </div>
            </div>
        </div>

        <!-- This is the title header for the page.  It can be changed or removed based upon preference. -->
        <div class="pageheader">
            <div class="container">
                <h1>Blank Page</h1>
                <p>This is the blank page template for future use.</p>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container">

            <!-- Content goes here. -->

            <hr class="featurette-divider">

            <!-- FOOTER -->
            <footer>
                <!-- Social Media items go here -->
                <p>FOLLOW US: <a href="http://www.facebook.com/pages/Rotary-Club-of-Downtown-Lock-Haven/170567572986406"><img src="http://www.rotaryclintoncountypa.org/rotary-photos/FBlogo.jpg" class="socialmedia"/></a></p>

                <p class="affiliate">Rotary International: <a href="https://www.rotary.org/">rotary.org</a><br>
                <p>The Downtown Lock Haven Rotary Club, Mill Hall Sunrise Rotary Club, Rotary Club of Lock Haven, and Rotary Club of Renovo are members of <a href="http://www.district7360.org/">Rotary District 7360</a>.</p>

                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2014 Rotary of Downtown Lock Haven</p>
            </footer>
        </div>

        <!-- Core JavaScript: DO NOT EDIT ================================================== -->
        <script src="../../assets/core/jquery/jquery-1.10.2.min.js"></script>
        <script src="../../assets/core/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
