<!DOCTYPE html>
<html lang="en">

    <!--
            This is a template for newsletter table.
    -->

    <head>
        <!-- Bootstrap core CSS -->
        <link href="../../assets/core/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="../../assets/css/main.css" rel="stylesheet">
        <link href="../../assets/css/news.css" rel="stylesheet">
    </head>

    <body>

        <div align="center">

            <table border="0" align="center" cellpadding="10">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <h2 align="center">20XX Rotary Newsletters</h2>
                        </td></tr>
                    <tr><td valign="top">
                        January
                        </td><td valign="top">
                        February
                        </td><td valign="top">
                        March
                        </td></tr>

                    <tr><td valign="top">
                        April
                        </td><td valign="top">
                        May
                        </td><td valign="top">
                        June
                        </td></tr>

                    <tr><td valign="top">
                        July
                        </td><td valign="top">
                        August
                        </td><td valign="top">
                        September
                        </td></tr>

                    <tr><td valign="top">
                        October
                        </td><td valign="top">
                        November
                        </td><td valign="top">
                        December
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>